<h3 class="text-center">Conference list</h3>
<div class="container">
  <div class="btn-group float-right">
    <button
      class="btn btn-secondary" type="button" data-toggle="collapse" aria-expanded="false" data-target="#collapseExample">
      <i class="fa fa-cog"></i>
    </button>
    <div class="collapse p-0" id="collapseExample" style="width:300px" (click)="$event.stopPropagation()" aria-labelledby="dropdownExample">
      <div class="row">
        <div class="col-12">
          <div class="card ">
            <div class="card-body">
              <form [formGroup]="form" (ngSubmit)="submit(form.value)">

                <div class="row">
                  <div class="col-12">

                    <h5 class="card-title">Conference Status</h5>
                    <div class="form-group">
                      <div class="form-check" *ngFor="let status of this.conferenceStatusService.getDicplayableStatuses()">
                        <input class="form-check-input" name="status" [value]="status" type="radio" id="{{status}}"
                               formControlName="status">
                        <label class="form-check-label" for="{{status}}">{{status}}</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <button type="submit" class="btn btn-sm btn-success">Apply</button>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <app-conference-list-table [page]="page" (onPageChange)="pageChange($event)"></app-conference-list-table>
</div>

