<div  *ngIf="conference">
  <div class="card mb-3">
  <!--<div class="" *ngIf="conference">-->
    <table class="table ">
      <thead>
      <tr>
        <th colspan="2">Conference information</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Conference acronym</td>
        <td>{{this.conference.acronym}}</td>
      </tr>
      <tr>
        <td>Conference title</td>
        <td>{{this.conference.title}}</td>
      </tr>
      <tr>
        <td>Webpage</td>
        <td>{{this.conference.webPage}}</td>
      </tr>
      <tr>
        <td>Organizer</td>
        <td>{{this.conference.organizer?.username}}</td>
      </tr>
      <tr>
        <td>Country</td>
        <td>{{this.conference.country}}</td>
      </tr>
      <tr>
        <td>City</td>
        <td>{{this.conference.city}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<button type="button" class="btn btn-info" (click)="goBack()">Back</button>

