<div>

    This is Webrtc page!

    <!--WebRTC related code-->
    <div>
        <button type="button" class="btn btn-primary" (click)='connectToWebsocket()'>Connect</button>
        <button type="button" class="btn btn-primary" (click)='createOffer()'>CreateOffer</button>
    </div>

    <div>
        <input type="text" (keyup)="onKey($event)">
        <button (click)="sendData()">Send</button>
    </div>
    <!-- <div>
        <h3>Local video</h3>
        <video #remoteVideo controls autoplay id="local"></video>
        <h3>Remote video</h3>
        <video #remoteVideo controls autoplay id="remote"></video>
    </div> -->

    <div id="video-div">

    </div>
</div>