<div  *ngIf="statistic">
  <div class="card mb-3">
    <!--<div class="" *ngIf="conference">-->
    <table class="table ">
      <thead>
      <tr>
        <th colspan="2">Conference statistic</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Submission amount</td>
        <td>{{this.statistic.submissionAmount}}</td>
      </tr>
      <tr>
        <td>Accepted submission amount</td>
        <td>{{this.statistic.submissionAcceptedAmount}}</td>
      </tr>
      <tr>
        <td>Review amount</td>
        <td>{{this.statistic.reviewAmount}}</td>
      </tr>
      <tr>
        <td>Plain document amount</td>
        <td>{{this.statistic.documentAmount}}</td>
      </tr>
      <tr>
        <td>Participant amount</td>
        <td>{{this.statistic.participantAmount}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<button type="button" class="btn btn-info" (click)="goBack()">Back</button>

